@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1E3C72;
  font-family: "DM Sans", sans-serif;
  z-index: 30;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url(images/oval.svg) center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

* {
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  width: 96%;
  max-width: 1316px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 90px;
}

.header_logo {
  width: 141px;
  display: flex;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 25%;
}
.header_logo .header_logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo .header_logo-img {
  margin-right: 11px;
}
.header_logo .header_text {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  text-decoration: none;
}
.header_nav-link:hover {
  color: black;
  transition: 0.3s;
}

.header_nav-link:not(:last-child) {
  margin-right: 50px;
}

.container {
  background-image: url(../images/background_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}

.header_button {
  margin-left: 21%;
  width: 150px;
  height: 50px;
  align-self: center;
  border: 1.5px solid #ffffff;
  border-radius: 50px;
}
.header_button .header_button-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.header_button .header_button-link:hover {
  color: black;
  transition: 0.3s;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 34px;
  right: 123px;
  padding: 5px;
  border: 1px white solid;
  background: white;
  cursor: pointer;
  border-radius: 99px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 25px;
  opacity: 0.8;
}

.menuIcon {
  font-family: "DM Sans", sans-serif;
}

.menuItem {
  text-decoration: none;
  color: #fff;
}
.menuItem:hover {
  color: blue;
}

.showMenu {
  transform: translateX(0);
}

@media (max-width: 1290px) {
  .wrapper {
    max-width: 1000px;
  }
  .header_logo {
    margin-right: 15%;
  }
  .header_button {
    margin-left: 10%;
  }
}
@media (max-width: 1025px) {
  .wrapper {
    max-width: 850px;
  }
  .header_logo {
    margin-right: 9%;
  }
  .header_button {
    width: 110px;
    height: 40px;
  }
}
@media (min-width: 846px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 845px) {
  .wrapper {
    max-width: 660px;
  }
  .header_logo {
    margin-right: 9%;
    font-size: 16px;
  }
  .header {
    justify-content: space-between;
  }
  .header_button {
    display: none;
  }
  .header_nav {
    display: none;
  }
}
.main {
  display: flex;
  margin-top: 3%;
}

.main_introduction {
  width: 53%;
}

.main_name {
  font-size: 85px;
  color: #ffffff;
  letter-spacing: -2px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 35px;
  display: none;
}

.main_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 45px;
}

.main_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.main_button-enter {
  background: #ffffff;
  border-radius: 50px;
  padding: 13px;
  text-decoration: none;
  color: black;
}
.main_button-enter:hover {
  background: black;
  color: #fff;
  transition: 0.7s;
}

.main_button-watch {
  display: flex;
  align-items: center;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  gap: 5px;
}
.main_button-watch:hover {
  color: black;
  transition: 0.7s;
}

.main_sponsored {
  opacity: 0.6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 42px;
  display: flex;
  gap: 20px;
}
.main_sponsored .main_sponsored-text {
  font-size: 14px;
}

.main_sponsored-img {
  height: 28px;
  align-self: center;
  display: flex;
}

@media (max-width: 1290px) {
  .main_introduction {
    width: 73%;
  }
  .main_name {
    font-size: 45px;
  }
  .main_photo-settings {
    width: 90%;
    height: 100%;
    margin-top: 2%;
  }
  .main_name {
    margin-bottom: 17px;
  }
  .main_text {
    margin-bottom: 20px;
  }
  .main_buttons {
    margin-bottom: 20px;
  }
  .main_sponsored-img {
    width: 100%;
  }
  .container {
    height: 800px;
  }
}
@media (max-width: 1025px) {
  .main_introduction {
    width: 110%;
  }
  .main_text {
    font-size: 14px;
  }
  .main_name {
    font-size: 33px;
  }
  .main_button-enter {
    font-size: 14px;
    padding: 7px;
  }
  .main_button-watch {
    font-size: 14px;
  }
  .container {
    height: 600px;
  }
  .main_sponsored-text {
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .main_photo-settings {
    height: 80%;
  }
  .main_sponsored {
    line-height: 12px;
  }
}
@media (max-width: 749px) {
  .main_photo-settings {
    width: 70%;
  }
  .main_text {
    display: none;
  }
}
@media (min-width: 749px) {
  .main_photo-320px {
    display: none;
  }
}
@media (max-width: 749px) {
  .wrapper {
    max-width: 600px;
  }
  .hamburger {
    right: 20px;
  }
  .main_photo-320px {
    display: flex;
    justify-content: center;
  }
  .main_photo {
    display: none;
  }
  .main_name {
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: 60px;
  }
  .main_buttons {
    justify-content: space-between;
  }
  .main_sponsored {
    display: block;
  }
  .main_sponsored-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .main_sponsored-link {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .main_sponsored-img {
    width: auto;
    height: 18px;
  }
  .main_photo-settings {
    width: 40%;
  }
}
@media (max-width: 551px) {
  .main_name {
    font-size: 20px;
  }
  .main_photo-settings {
    width: 45%;
  }
}
@media (max-width: 321px) {
  .wrapper {
    max-width: 280px;
  }
  .main_photo-settings {
    width: 70%;
  }
  .hamburger {
    right: 20px;
  }
  .main_photo-320px {
    display: flex;
    justify-content: center;
  }
  .main_photo {
    display: none;
  }
  .main_name {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 60px;
  }
  .main_buttons {
    justify-content: space-between;
  }
  .main_sponsored {
    display: block;
  }
  .main_sponsored-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .main_sponsored-link {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .main_sponsored-img {
    width: auto;
    height: 18px;
  }
}
.features {
  padding: 120px;
  font-family: "DM Sans", sans-serif;
}

.features_name {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.features_name-maintext {
  letter-spacing: 2.1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #244886;
  margin-bottom: 20px;
}

.features_name-subtext {
  letter-spacing: -1.5px;
  color: #0f2137;
  font-weight: 700;
  font-size: 36px;
}

.features_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features_card {
  width: 230px;
}

.features_card-name {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #0f2137;
  margin-bottom: 21px;
}

.features_card-img {
  text-align: center;
  margin-bottom: 21px;
}

.features_card-descr {
  margin-top: 21px;
  color: #343d48;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}

@media (max-width: 845px) {
  .features {
    padding: 50px;
  }
  .features_cards {
    justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 749px) {
  .features_name-subtext {
    font-size: 30px;
  }
}
@media (max-width: 551px) {
  .features_name {
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .features_name-subtext {
    font-size: 16px;
    letter-spacing: normal;
  }
}
.corefeatures {
  display: flex;
  padding: 0% 8%;
}

.corefeatures_card {
  display: flex;
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(69, 88, 157, 0.07);
  border-radius: 24px;
  height: 140px;
  font-family: "DM Sans", sans-serif;
}

.corefeatures_main {
  margin-left: 9%;
}

.corefeatures_card-text {
  flex-direction: column;
}

.corefeatures_title {
  align-items: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #244886;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 3%;
}

.corefeatures_descr {
  align-items: center;
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 48px;
  color: #0f2137;
}

.corefeatures_main-descr {
  margin-bottom: 8%;
}

.corefeatures_card-img {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

.corefeatures_text-name {
  font-weight: 700;
  font-size: 18px;
  color: #0f2137;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 5px;
}

.corefeatures_text-descr {
  font-size: 15px;
  color: #343d48;
  line-height: 26px;
  padding: 5px;
}

@media (max-width: 1290px) {
  .corefeatures_img-main {
    width: 100%;
  }
  .corefeatures_img {
    width: 100%;
  }
}
@media (max-width: 845px) {
  .corefeatures_descr {
    font-size: 34px;
  }
  .corefeatures_main {
    margin-left: 5%;
  }
  .corefeatures {
    padding: 0% 5%;
  }
  .corefeatures_img-main {
    width: 75%;
  }
}
@media (max-width: 750px) {
  .corefeatures_descr {
    font-size: 25px;
  }
}
@media (max-width: 635px) {
  .corefeatures {
    justify-content: center;
    flex-wrap: wrap;
  }
  .corefeatures_title {
    text-align: center;
  }
  .corefeatures_descr {
    text-align: center;
  }
  .corefeatures_img-main {
    width: 50%;
  }
}
@media (max-width: 465px) {
  .corefeatures_img-main {
    width: 35%;
  }
  .corefeatures_descr {
    font-size: 25px;
  }
  .corefeatures_card {
    flex-direction: column;
    height: 215px;
  }
  .corefeatures_card-img {
    text-align: center;
  }
  .corefeatures_card-text {
    text-align: center;
  }
}
.benefits {
  margin-top: 13%;
  font-family: "DM Sans", sans-serif;
}
.benefits .benefits_names {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12%;
}

.benefits_mainname {
  letter-spacing: 2.1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #244886;
  margin-bottom: 3%;
}

.benefits_title {
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 36px;
  color: #0f2137;
}

.benefits_cards {
  display: flex;
  flex-wrap: wrap;
}

.benefits_card {
  width: 33%;
  display: flex;
  margin-bottom: 5%;
}
.benefits_card .benefits_card-img {
  display: flex;
}

.benefits_card-text {
  padding-left: 20px;
}

.benefits_text-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  color: #0f2137;
  margin-bottom: 3%;
}

.benefits_text-descr {
  font-size: 15px;
  line-height: 26px;
  color: #343d48;
}

@media (max-width: 1025px) {
  .benefits_cards {
    flex-direction: column;
    padding-left: 46px;
    padding-right: 46px;
  }
  .benefits_card {
    width: 100%;
  }
}
@media (max-width: 845px) {
  .benefits_title {
    font-size: 34px;
  }
}
@media (max-width: 750px) {
  .benefits_title {
    font-size: 25px;
    text-align: center;
  }
  .benefits_svg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 400px) {
  .benefits_cards {
    padding: 0px 0px 0px 12px;
  }
}
.wfeatures {
  display: flex;
  font-family: "DM Sans", sans-serif;
}

.wfeatures_mainname {
  align-items: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #244886;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 3%;
}

.wfeatures_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #0f2137;
}

.wfeatures_decsr {
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  color: #02073e;
  margin-bottom: 4%;
}

.wfeatures_button {
  background: #1f3e76;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border: 1px solid #1f3e76;
}
.wfeatures_button :hover {
  color: #1f3e76;
  background-color: white;
  border-radius: 50px;
  transition: 0.7s;
}

.wfeatures_button-set {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  text-decoration: none;
  color: #ffffff;
  height: 50px;
  align-items: center;
}

.wfeatures_imgside-840px {
  display: none;
}

@media (max-width: 1290px) {
  .wfeatures_imgside-img {
    width: 100%;
    margin-top: 10%;
  }
}
@media (max-width: 846px) {
  .wfeatures_textside {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .wfeatures_imgside-840px {
    display: flex;
    justify-content: center;
  }
  .wfeatures_imgside-img-840px {
    width: 80%;
  }
  .wfeatures_imgside-img {
    display: none;
  }
  .wfeatures_mainname {
    justify-content: center;
    display: flex;
  }
  .wfeatures_button {
    margin: 0 auto;
  }
  .wfeatures_title {
    font-size: 25px;
  }
  .wfeatures_decsr {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .wfeatures_title {
    font-size: 18px;
  }
  .wfeatures_decsr {
    font-size: 13px;
  }
  .wfeatures_button {
    width: 90px;
    height: 35px;
  }
  .wfeatures_button-set {
    font-size: 14px;
    height: 35px;
  }
}
.functions {
  margin-top: 10%;
  background-image: url(../images/backgroung-functions.svg);
  width: 100%;
  height: 770px;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}

.functions_block {
  margin: 0 auto;
  padding-top: 100px;
}

.functions_title {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.functions_descr {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  justify-content: center;
}

.functions_card {
  height: 294px;
  width: 25%;
}

.functions_card-images {
  display: flex;
  height: 72px;
}

#numberOne {
  background-image: url(../images/NumberedCirle01.svg);
  background-repeat: no-repeat;
  width: 103px;
}

#numberSecond {
  background-image: url(../images/NumberedCirle02.svg);
  width: 103px;
  background-repeat: no-repeat;
}

#numberThird {
  background-image: url(../images/NumberedCirle03.svg);
  background-repeat: no-repeat;
  width: 103px;
}

#numberFour {
  background-image: url(../images/NumberedCirle04.svg);
  background-repeat: no-repeat;
  width: 103px;
}

#arrowSecond {
  background-image: url(../images/ArrowDown.svg);
  height: 43px;
  background-repeat: no-repeat;
  width: 100%;
}

.functions_card-arrow {
  background-image: url(../images/ArrowUpper.svg);
  height: 43px;
  background-repeat: no-repeat;
  width: 100%;
}

.functions_card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 155%;
  color: #ffffff;
  margin-right: 30%;
}

.functions_card-descr-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.65;
  margin-right: 30%;
}

.functions_cards {
  display: flex;
  margin-top: 14%;
}

@media (max-width: 1290px) {
  .functions_card-arrow {
    display: none;
  }
  .functions_card-images {
    justify-content: center;
  }
  .functions_card-title {
    display: flex;
    text-align: center;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .functions_card-descr-text {
    text-align: center;
    margin-right: 0;
  }
}
@media (max-width: 846px) {
  .functions_descr {
    font-size: 25px;
    letter-spacing: 0;
  }
  .functions_card {
    width: 48%;
    padding: 5px;
  }
  .functions_cards {
    flex-wrap: wrap;
    margin-top: 5%;
  }
  #numberOne, #numberSecond, #numberThird, #numberFour {
    background-size: 50%;
    background-position: center;
  }
  .functions_card {
    height: 250px;
  }
}
@media (max-width: 542px) {
  .functions_descr {
    font-size: 18px;
  }
  .functions_card {
    padding: 10px;
  }
  .functions_cards {
    justify-content: center;
  }
  .functions_card-title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .functions {
    height: 1340px;
  }
  #numberOne, #numberSecond, #numberThird, #numberFour {
    background-size: 40%;
  }
}
@media (max-width: 400px) {
  .functions_card {
    padding: 20px;
  }
}
.feedback {
  margin-top: 5%;
}

.feedback_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #244886;
}

.feedback_decsr {
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1.5px;
  color: #0f2137;
  justify-content: center;
}

.feedback_slider {
  margin-top: 5%;
}/*# sourceMappingURL=styles.css.map */