@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  width: 96%;
  max-width: 1316px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 90px;
}

.header_logo {
  width: 141px;
  display: flex;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 25%;
}
.header_logo .header_logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo .header_logo-img {
  margin-right: 11px;
}
.header_logo .header_text {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  text-decoration: none;
}
.header_nav-link:hover {
  color: black;
  transition: 0.3s;
}

.header_nav-link:not(:last-child) {
  margin-right: 50px;
}

.container {
  background-image: url(../images/background_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}

.header_button {
  margin-left: 21%;
  width: 150px;
  height: 50px;
  align-self: center;
  border: 1.5px solid #ffffff;
  border-radius: 50px;
}
.header_button .header_button-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.header_button .header_button-link:hover {
  color: black;
  transition: 0.3s;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 34px;
  right: 123px;
  padding: 5px;
  border: 1px white solid;
  background: white;
  cursor: pointer;
  border-radius: 99px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 25px;
  opacity: 0.8;
}

.menuIcon {
  font-family: "DM Sans", sans-serif;
}

.menuItem {
  text-decoration: none;
  color: #fff;
}
.menuItem:hover {
  color: blue;
}

.showMenu {
  transform: translateX(0);
}

@media (max-width: 1290px) {
  .wrapper {
    max-width: 1000px;
  }
  .header_logo {
    margin-right: 15%;
  }
  .header_button {
    margin-left: 10%;
  }
}
@media (max-width: 1025px) {
  .wrapper {
    max-width: 850px;
  }
  .header_logo {
    margin-right: 9%;
  }
  .header_button {
    width: 110px;
    height: 40px;
  }
}
@media (min-width: 846px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 845px) {
  .wrapper {
    max-width: 660px;
  }
  .header_logo {
    margin-right: 9%;
    font-size: 16px;
  }
  .header {
    justify-content: space-between;
  }
  .header_button {
    display: none;
  }
  .header_nav {
    display: none;
  }
}
.main {
  display: flex;
  margin-top: 3%;
}

.main_introduction {
  width: 53%;
}

.main_name {
  font-size: 85px;
  color: #ffffff;
  letter-spacing: -2px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 35px;
}

.main_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 45px;
}

.main_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.main_button-enter {
  background: #ffffff;
  border-radius: 50px;
  padding: 13px;
  text-decoration: none;
  color: black;
}
.main_button-enter:hover {
  background: black;
  color: #fff;
  transition: 0.7s;
}

.main_button-watch {
  display: flex;
  align-items: center;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  gap: 5px;
}
.main_button-watch:hover {
  color: black;
  transition: 0.7s;
}

.main_sponsored {
  opacity: 0.6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 42px;
  display: flex;
  gap: 20px;
}
.main_sponsored .main_sponsored-text {
  font-size: 14px;
}

.main_sponsored-img {
  height: 28px;
  align-self: center;
  display: flex;
}

@media (max-width: 1290px) {
  .main_introduction {
    width: 73%;
  }
  .main_name {
    font-size: 45px;
  }
  .main_photo-settings {
    width: 90%;
    height: 100%;
    margin-top: 2%;
  }
  .main_name {
    margin-bottom: 17px;
  }
  .main_text {
    margin-bottom: 20px;
  }
  .main_buttons {
    margin-bottom: 20px;
  }
  .main_sponsored-img {
    width: 100%;
  }
  .container {
    height: 800px;
  }
}
@media (max-width: 1025px) {
  .main_introduction {
    width: 110%;
  }
  .main_text {
    font-size: 14px;
  }
  .main_name {
    font-size: 33px;
  }
  .main_button-enter {
    font-size: 14px;
    padding: 7px;
  }
  .main_button-watch {
    font-size: 14px;
  }
  .container {
    height: 600px;
  }
  .main_sponsored-text {
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .main_photo-settings {
    height: 80%;
  }
}
@media (max-width: 750px) {
  .main_photo-settings {
    width: 70%;
  }
  .main_text {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */